<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/images/logo.png" />
  <span>Welcome</span>
  <div class="spacer"></div>
  <span (click)="openSettings()">
    <img height="50px" width="50px" src="../assets/images/setting-icon.png" alt="Open Settings" />
  </span>
</div>

<div class="content" role="main">
  <ja-map-builder></ja-map-builder>
</div>

<router-outlet>

</router-outlet>